root $MAGE_ROOT;

index index.php index.html;
autoindex off;
charset UTF-8;
error_page 404 403 = /errors/404.php;

location / {
    try_files $uri $uri/ /index.php$is_args$args;
}

location /errors/ {
    location ~* \.xml$ {
        deny all;
    }
}

location /media/ {
    try_files $uri $uri/ /get.php$is_args$args;
    location ~* \.(ico|jpg|jpeg|png|gif|svg|js|css|swf|eot|ttf|otf|woff|woff2)$ {
        add_header Cache-Control "public";
        add_header X-Frame-Options "SAMEORIGIN";
        expires +1y;
        try_files $uri $uri/ /get.php$is_args$args;
    }
    location ~* \.(zip|gz|gzip|bz2|csv|xml)$ {
        add_header Cache-Control "no-store";
        add_header X-Frame-Options "SAMEORIGIN";
        expires    off;
        try_files $uri $uri/ /get.php$is_args$args;
    }
}

location /media/customer/ {
    deny all;
}

location /media/downloadable/ {
    deny all;
}

location /media/import/ {
    deny all;
}

location ~ \.php$ {
    include /etc/nginx/snippets/fastcgi-php.conf;
    fastcgi_buffers         1024 4k;
    fastcgi_connect_timeout 600s;
    fastcgi_read_timeout    600s;
    fastcgi_param           PHP_FLAG  "session.auto_start=off\nsuhosin.session.cryptua=off";
    fastcgi_param           PHP_VALUE "memory_limit=2G\nmax_execution_time=1800\nmax_input_vars=6000";
    fastcgi_pass            127.0.0.1:9000;
}

##
# Gzip Settings
##
gzip on;
gzip_disable "msie6";
gzip_vary on;
gzip_proxied any;
gzip_comp_level 6;
gzip_buffers 16 8k;
gzip_http_version 1.1;
gzip_types text/plain text/css text/javascript application/json application/javascript text/xml application/xml application/xml+rss;
